.button {
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
}
.button1 {
    background-color: #dd0061;}

.button2 {
    background-color: #702dab;}
.button3 {
    background-color: #A72090;}
.button4 {
    background-color: #a7204c;}